@use './variables' as *;
@use './mixins' as *;

.c-headline {
  &__lv2 {
    font-size: 1rem;
    margin-bottom: 2rem;
    line-height: 2;
    background: #b3b7bd;
    color: #fff;
    text-align: center;
  }
}